@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

html,
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@media screen and (max-width: 767px) {
  body {
    padding-bottom: 300px;
  }
}
@media screen and (min-width: 767px) {
  body {
    padding-bottom: 200px;
  }
}

.sticky-top {
  background-image: linear-gradient(white 40%, transparent);
}

.navbar-toggler {
  border: 0 solid transparent !important;
}

/*text universal */

h1,
h2,
h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.header {
  background-image: white;
  border-bottom: rgba(0, 0, 0, 0.048);
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
}

.header h1 {
  color: black;
  text-align: center;
  font-size: 3em;
  padding: 0.5em;
  margin: 0;
}

.navbar {
  width: 100%;
  transition: top 0.3s;
  display: block;
}

.navbar-link {
  font-size: 1.5em;
  padding: 0.5em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.781);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.navbar-link:hover {
  color: rgb(201, 84, 6);
}

#offcanvasNavbar {
  background-image: linear-gradient(white, white, rgb(235, 196, 99));
}

.external-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.781);
}

.jumbotron-header-text {
  text-align: center;
  padding-top: 75px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.jumbotron-fluid span {
  font-family: "Satisfy", cursive;
  font-weight: bold;
}

#homeMainContent {
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0%,
    rgb(235, 196, 99),
    rgb(235, 196, 99),
    rgb(235, 196, 99),
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    black 0%,
    rgb(235, 196, 99),
    rgb(235, 196, 99),
    rgb(235, 196, 99),
    transparent 80%
  );
}

.slide {
  background-image: linear-gradient(
    rgb(235, 196, 99),
    rgb(255, 235, 183),
    white 80%
  );
  height: 550px;
}

.slide span {
  font-family: "Satisfy", cursive;
  color: rgb(235, 196, 99);
}

.slide-one {
  background-image: url("img/notaryPhoto.jpg");
  background-position-y: 40%;
  background-position-x: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.slide-two {
  background-image: url("img/musicSlidePhoto.JPG");
  background-position-y: 40%;
  background-position-x: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.slide-three {
  background-image: url("img/writerSlide.jpg");
  background-position-y: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.slide:hover {
  cursor: pointer;
}

.slide-cap {
  background-color: rgba(0, 0, 0, 0.712);
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .slide {
    height: 250px;
  }

  .slide-one,
  .slide-two {
    background-size: cover;
  }
}

.slide-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: contain;
  opacity: 0.6;
}

.contact-form {
  overflow-y: auto;
}

footer {
  color: black;
  background-image: linear-gradient(transparent, rgb(235, 196, 99));
  padding: 0.5em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: max-content;
  z-index: 10;
}

.site-footer h1 {
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.site-footer p {
  font-size: 0.75em;
}

.footer-link {
  font-size: 0.75em;
  list-style: none;
}

.footer-link a {
  color: black;
  text-decoration: none;
}

.footer-link a:hover {
  color: rgb(201, 84, 6);
}

.footer-col {
  border-right-color: rgba(0, 0, 0, 0.047);
  border-right-style: solid;
  border-right-width: 0.1em;
}

.footer-col-title {
  margin-left: 1.9em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.social-icon {
  color: black;
}

.social-icon:hover {
  color: rgb(201, 84, 6);
}

.top-arrow {
  color: rgb(201, 84, 6);
  font-size: 1.75em;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
}

.top-arrow:hover {
  cursor: pointer;
}
